<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Satisfy&display=swap" rel="stylesheet">
    <title>💞 Flames 🔥</title>
</head>
<body>
    <form class= 'box' action="/flames" method="post">
        <h1 style="font-family: 'Homemode Apple', cursive;">💞 Flames 🔥</h1>
        <h5>Find your relation with your crush</h5>
        <input type="text" name="fname" spellcheck="false" placeholder="your name" autocomplete="off">
        <input type="text" name="sname" spellcheck="false" placeholder="your crush name" autocomplete="off">
        <input type="submit" name="" value = "🔥 Flames 🔥">
        <span style="text-align: left;color: white;" >(Disclaimer ⚠: It is just for fun don't take it serious)</span>
    </form>
    <div class="social">
		<a href="https://www.instagram.com/username_not_avilable.404/">📷</a>
        <a href ="https://twitter.com/Iniyan_2006">🕊</a>
        <a href = "https://www.github.com/iniyan2006">💻
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</body>
</html>
