<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="2 ;url=/flames">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>please wait ...</title>
    <style>
        html{
            display: flex;
            justify-content: center;
            align-items: center;
            height:100%;    
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <img src="../static/logo.png" alt="logo">
</body>
</html>